{% extends 'rlxp/base.html' %}

{% block content%}
<div class="about">
  <div class="grid-x grid-padding-x">
    <div class="cell auto"></div>
    <div class="cell shrink" style="width: 600px">
      <h4><span class="palegreen">ABOUT</span></h4>
      <br>
      <p>
        <span class="palegreen">Primary Goal:</span> This site is intented to be use as an assignment and chore/task tracker where you can gain
        XP for completion and used as a personal reward system
      </p>
      <p>
        <span class="palegreen">Stretch Goals:</span> I would like to implement a friend system that allows one on one messaging. Public and private profile options. A guardian system where parents can
        sign up their children. And implement a system where levels and XP are used for more that just a visual.
      </p>
      <p style="margin: 0px"><span class="palegreen">School:</span> CSU Chico</p>
      <p style="margin: 0px"><span class="palegreen">Instructor:</span> Shelly Wong</p>
      <p style="margin: 0px"><span class="palegreen">Class:</span> 465 Web Development</p>
      <p style="margin: 0px"><span class="palegreen">Built Using:</span>
        <ul>
          <li>Django Boilerplate provided by Shelly Wong</li>
          <li>Foundation CSS</li>
          <li>Docker</li>
          <li>Git & GitHub</li>
          <li>Python, HTML, Javascript, CSS</li>
          <li>Websockets Via Django Channels</li>
          <li>Cloud Hosting Via Google Cloud</li>
        </ul>
      </p>
    </div>
    <div class="cell auto"></div>
  </div>
</div>

{% endblock content %}