
{% extends 'rlxp/base.html' %}

{% block content %}

<br>
<div class="grid-x grid-margin-x">
  <div class="cell auto"></div>
  <div class="cell shrink">
    <div class="grid-y">
      <span style="color: lightblue"><font size="+2">{{student.fname}} {{student.lname}} ({{ username }})</font></span>
      <div class="cell">
        <div class="card" style="width: 600px;">
          <div class="grid-x grid-padding-x small-up-2 medium-up-4">
            <div class="cell auto"><span class="dashhead">Level:</span> {{student.level}}</div>
            <div class="cell auto"><span class="dashhead">XP:</span> {{student.xp}}</div>
            <div class="cell auto"><span class="dashhead">Assignments:</span> {{assignments|length}}</div>
            <div class="cell auto" style="text-align: right;"><span class="dashhead">Chores:</span> {{chores|length}}</div>
          </div>
        </div>
        <br>
      </div>
      <div style="color: lightblue;">
        <span><font size="+2">Assignments <font size="+1" style="vertical-align: middle">[ <a style="vertical-align: middle;" href="#" onclick="overlayAssignmentForm(); return false">add</a> ]</font> </font></span>
      </div>
      <div class="cell">
        {% if assignments|length != 0 %}
        {% for assignment in assignments %}
          <div class="card" style="width: 600px;">
            <div class="grid-x grid-padding-x">
              <div class="cell auto">{{assignment.name}}</div>
              <div class="cell auto">Difficulty: {{assignment.difficulty}}</div>
              <div class="cell auto">{{assignment.due_date}}</div>
              <div style="text-align: right;" class="cell auto">
                [ <a href="{% url 'submit-assignment' assignment.id student.id %}">submit</a> ]
                  <br>
                [ <a href="{% url 'delete-assignment' assignment.id %}">remove</a> ]
              </div>
            </div>
          </div>
        {% endfor %}
        {% else %}
        <div class="card" style="width: 600px;">
          <p>You have no assignments.</p>
        </div>
        {% endif %}
        <br>
      </div>
      <span style="color: lightblue">
        <span><font size="+2">Chores <font size="+1" style="vertical-align: middle">[ <a style="vertical-align: middle;" href="#" onclick="overlayChoreForm(); return false">add</a> ]</font> </font></span>
      </span>
      <div class="cell">
        {% if chores|length != 0 %}
        {% for chore in chores %}
          <div class="card" style="width: 600px;">
            <div class="grid-x grid-padding-x">
              <div class="cell auto">{{chore.name}}</div>
              <div class="cell auto">Difficulty: {{chore.difficulty}}</div>
              <div class="cell auto">Due: {{chore.due_date}}</div>
              <div style="text-align: right;" class="cell auto">
                [ <a href="{% url 'submit-chore' chore.id student.id%}">submit</a> ]
                  <br>
                [ <a href="{% url 'delete-chore' chore.id %}">remove</a> ]
              </div>
            </div>
          </div>
        {% endfor %}
        {% else %}
        <div class="card" style="width: 600px;">
          <p>You have no chores.</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="cell auto"></div>
</div><!-- End of grid-->


<div id="overlayAssignmentForm">
  <div class="card" style="width: 400px;">
    <a style="color: red; text-align: right;" href="#" onclick="overlayAssignmentForm(); return false">X</a> 
    <form method="post" action="">
      {% csrf_token %}
      {{ assignmentForm }}
      <button type="submit" class="button">Submit</button>
    </form>
  </div>
</div>
<div id="overlayChoreForm">
  <div class="card" style="width: 400px;">
    <a style="color: red; text-align: right" href="#" onclick="overlayChoreForm(); return false">X</a> 
    <form method="post" action="">
      {% csrf_token %}
      {{ choreForm }}
      <button type="submit" class="button">Submit</button>
    </form>
  </div>
</div>

{% endblock content %}