{% extends 'rlxp/base.html' %}

{% block content %}

<h1>Real Life eXperience Points</h1>

<!-- TO DO LIST -->
<h4 style="color: lightblue">To do list:</h4>
<ol style="color: #999">
  <li><del>Create Dashboard HTML</del></li>
  <li><del>Create an assignment</del></li>
  <li><del>Create a chore</del></li>
  <li>Establish xp based on completed assignments/chore</li>
  <li>Websockets in Djagno</li>
</ol>

{% if loggedIn %}
<p style="text-align: center; background: #333; color: #999;">Check out your <a href="{% url 'dashboard' %}">dashboard</a> or <a href="{% url 'logout' %}">logout</a>.</p>
{% else %}
<p style="text-align: center; background: #333; color: #999;">Welcome to RLXP. <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">register</a> to get started.</p>
{% endif %}

{% endblock content %}