{% extends 'rlxp/base.html' %}

{% block content %}

<h1>Real Life eXperience Points</h1>

<form id="form">
  <input type="text" name="message"/>
</form>

<div class="grid-x grid-margin-x">
  <div class="cell auto"></div>
  <div class="cell auto">
    <div id="messages"></div>
  </div>
  <div class="cell auto"></div>
</div>


<script type="text/javascript">
  let url = `ws://${window.location.host}/ws/socket-server/`

  const chatSocket = new WebSocket(url)

  chatSocket.onmessage = function(e){
    let data = JSON.parse(e.data)
    console.log('Data:', data)

    if (data.type === 'chat'){
      let messages = document.getElementById('messages')
      let color = "red"
      if (data.username === "{{name}}"){
        color = "blue";
      }
      messages.insertAdjacentHTML('beforeend', 
      `<span style="color: ${color};">${data.username.toUpperCase()}</span>:
      <div class="card" style="width: 300px;">
        <p>${data.message}</p>
      </div>`)
    }
  }

  let form = document.getElementById('form')
  form.addEventListener('submit', (e)=> {
    e.preventDefault()
    let message = e.target.message.value;
    
    chatSocket.send(JSON.stringify({
      'message': message,
      'username': "{{name}}"
    }))
    form.reset()
  })
</script>

{% endblock content %}