/* My app css stylesheet */
:root{
    --bg-body-color: #222;
    --bg-nav-color: #111;
    --text-color: #999;
    --link-color: #86e7ff;
    --head-color: palegreen;
}

.palegreen{
    color: var(--head-color) !important;
}

h1 {
    font-size: 4em;
    color: var(--text-color);
    text-align: center;
    margin: 0.67em 0;
}

body {
    background-color: var(--bg-body-color);
}

.top-bar, .top-bar ul{
    background: var(--bg-nav-color);
    color: #999;
}

a {
    color: var(--link-color);
}

label {
    color: var(--text-color);
}

.card{
    background: var(--bg-nav-color);
    border-radius: 10px;
    border-color: var(--text-color);
    padding: 7px;
    color: var(--text-color);
}

.card-divider{
    background: var(--bg-nav-color);
}

.form {
    color: var(--text-color);
}

.dash span{
    color: var(--text-color)
}

#overlayAssignmentForm, #overlayChoreForm {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}


#overlayAssignmentForm div, #overlayChoreForm div {
    width:250px;
    margin: 100px auto;
    background-color: #333;
    border:1px solid #fff;
    padding:15px;
    text-align:center;
}

.dashhead{
    color: var(--head-color);
}

.about div{
    color: var(--text-color);
}













