{% extends 'main/base.html' %}

<!--Start of a block content-->
{% block content %}
<h3 class="text-center">List of famous ducks!</h3>
{% comment%} Do we need the redirect? {% endcomment%}

<!--list all the ducks-->
<ul class="no-bullet text-center">
    {% if ducks|length != 0 %}
        {% for duck in ducks %}
        <li>There is a {{ duck.color|lower }} duck named {{ duck.name}} from {{duck.media}}</li>
        {% endfor %}
    {% else %}
        <p>There are no ducks in the list!!!</p>
    {% endif %}
</ul>

<br>

<h3 class="text-center">**Add a famous duck to the list**</h3>
<form method="post">
    {% csrf_token %}
    {{ name_form }}
    <input type="submit" value="Submit">
</form>

{% endblock %}



<!--End of block content-->