{% load static %}
<h1>This is a duck</h1>
<div class="grid-container fluid">
    <div class="grid-x grid-margin-x">
        <div class="cell auto">
            <form action="http://en.wikipedia.org/wiki/duck">
                <input class="button alert expanded" type="submit" value="More Ducks!">
            </form>
        </div>
        <div class="cell auto">
            <form action="https://www.ducks.org/conservation/waterfowl-research-science/for-goodness-sake-where-are-all-the-ducks">
                <input class="button alert expanded" type="submit" value="Less Ducks!">
            </form>
        </div>
    </div>
</div>
<!--GOT IT TO CENTER!!-->
<img src="{% static 'assets/duck.jpg' %}" alt="Just a Duck" class="float-center" width="250" height="auto">

